* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  background-color: #ededed;
}

h1,
h2,
h3 {
  margin: 0;
}

.content-wrapper {
  min-height: 100%;
  padding-top: 20px;
  position: relative;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.errorMessage {
  color: red;
}

.profile-card {
  background: #fff;
  padding: 10px;
}

.userpic {
  width: 90px;
  float: left;
}

.userpic img {
  width: 100%;
}

.profile-card-stats {
  float: left;
}

.profile-card-stats a {
  display: block;
}

.posts-list {
  margin-top: 10px;
  background: #f7f7f7;
  padding: 15px;
  min-height: 300px;
}
